<div class="text-center">
  <h2><%= @tour.name %></h2>

  <p>
    <%= image_tag @tour.image, width: 200 %>
  </p>

  <p>
    <%= @tour.description %>
  </p>

</div>

<div>
  <%= link_to 'Back to all tours', tours_path, class: "btn btn-info"%>
</div>