/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$font-stack:    Helvetica, sans-serif;
/*$primary-color: #333;*/
$primary-color: #777;

body {
  font: 100% $font-stack;
  color: $primary-color;


}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

  }

  li {
    display: inline-block;
    background-color: #68FFBC;

  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: #2A31FF;


  }

.navbar-header {
  background-color: #68FFBC;
}
.navbar-toggle {
  color: #68FFBC;
}
.navbar-brand {
  color: #FF5F49;
  /*background-color: #68FFBC;*/
}

#bs-example-navbar-collapse-1 {
  background-color: #68FFBC;
}

}


/*$primary-color: #41B6A6;*/

.btn {
  color: darken($primary-color, 30%);
}

.checkbox {
  margin: 20px;
  padding: 6px;
  color: #FF495F;

}

#remember {
  margin: 1px 0px 3px -17px;
}


