/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #777;

body {
  font-family: 'Rye';
}

.jumbotron {
  padding-top: 10px;
  background-color: transparent;
}

.lp-div {
  padding: 0px;
  .alert {
    margin-bottom: 5px;
  }
}

.navbar {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: black;
  margin-bottom: 5px;

  #main-nav {
    background-color: transparent;
  }
}

nav {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    font-size: 18px;
  }

  a {
    display: block;
    padding: 6px 12px;
    color: #2A31FF;
  }

  .navbar-brand {
    font-size: 40px;
  }
}

.lp-main {
  position: relative;
  width: 100%;
  min-height: 550px;
  text-align: center;
  background: image-url("landing-hk.png") no-repeat;
  background-position: center;
  background-size: cover;

  .lp-main-content {
    position: relative;
    margin: 150px 0 150px;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;

    h1 {
      font-size: 50px;
      text-shadow: 10px -1px 11px rgba(255, 255, 255, 1);
    }
    p {
      margin-bottom: 20px;
      text-shadow: 10px -1px 11px rgba(255, 255, 255, 1);
    }
  }
}

.lp-filter {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

#search-form {
  padding: 17px 15px;
  border-color: transparent;
}

#search {
  width: 60%;
}

.form-box {
  background-color: transparent;
  border-color: transparent;
}

.intro{
  text-align: center;
}

.btn {
  border-radius: 10px;
  text-transform: uppercase;
}

.field_with_errors input {
  border: 1px solid red;
}

.form-group {
  font-size: 18px;
}

.container-fluid {
  margin-top: 12px;
  font-size: 20px;
}

hr.star-primary {
  border-color: #2c3e50;
  margin: 10px auto 10px;
  padding: 0;
  max-width: 30%;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}
