/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #777;

body {
  font-family: 'Rye', cursive;
  color: $primary-color;
  background: image-url("lp-background.jpg") no-repeat;
  background-size: cover;
  height: 100%;
}

nav {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: #2A31FF;
  }

  .navbar-brand {
    color: #FF5F49;
    font-size: 30px;
  }

}

.btn-info {
  font-size: 10px;
}

.jumbotron{
  min-height: 500px;
  font: white solid;
}

.tour-header>h2{
  margin-top: 0px;
  margin-bottom: 15px
}

.tours{
  box-shadow: 11px -8px 4px 2px rgba(0,0,0,0.45);
}

.field_with_errors input {
  border: 1px solid red;
}

.form-group{
  font-size: 15px;
}

.container-fluid{
  margin-top: 12px;
}

.tours-img{
  min-height: 100px
}
