.tour-name {
  font-size: 20px;
}

.img-container{
  width: 100%;
  overflow: hidden;
}

.tour-image {
  min-height: 400px;
  height: auto;
  max-width: 100%;
  overflow: hidden;
}

.veranda {
  font-family: 'Arial';
}

p {
  margin-bottom: 0px;
}