 .tours-index {
  .tours {
    background-color: #fffcfc;
    height: 490px;
  }

  .tour-name {
    font-size: 20px;
  }

  h1 {
    text-decoration: none;
    text-align: center;
  }

  .tour-images {
    min-width: 350px;
    height: auto;
    vertical-align: middle;
  }
 }
