<<<<<<< Updated upstream
.tour-name {
  font-size: 20px;
}
=======
  .tours {
    background-color: #fffcfc;
    height: 490px;
  }
>>>>>>> Stashed changes

.tour-images {
  height: auto;
  width: 100%;
  overflow: hidden;
}

<<<<<<< Updated upstream
=======
  h1 {
    text-decoration: none;
    text-align: center;
  }

  .tour-images {
    min-width: 350px;
    height: auto;
    vertical-align: middle;
  }
>>>>>>> Stashed changes
